[submodule "InstantCharacter"]
	path = InstantCharacter
	url = https://github.com/Tencent-Hunyuan/InstantCharacter.git
[submodule "ten_demo/ten-framework"]
	path = ten_demo/ten-framework
	url = https://github.com/TEN-framework/ten-framework.git
